.wrapper {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: [start] 200px [top-separator] 200px [bottom-separator] 200px [end];
    grid-template-areas:
        "header header header"
        "archives content ads"
        "sponsors footer footer"
    ;
}