.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    justify-items: end;
    align-items: center;
}

.content {
    background: lightblue;
    height: 30px;
    width: 30px;
}