.boxWithAnimation {
    animation: 0.8s ease-in 0.5s infinite alternate goBottom;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

@keyframes goBottom {

    0% {
        transform: translateY(0);
        background-color: rgb(0, 0, 0);
    }

    50% {
        background-color: yellow;
    }

    100% {
        transform: translateY(400px);
        background-color: red;
    }
}